<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /serwis/

  <FilesMatch "\.(jpg|jpeg|png|gif|svg|css|js|woff|woff2)$">
    Header set Cache-Control "max-age=2592000, public"
  </FilesMatch>

  <ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/xml text/css text/plain
    AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript application/json
  </ifModule>

  RewriteCond %{HTTPS} off [OR]
  RewriteCond %{HTTP_HOST} ^www\.naprawaprzemysl\.pl$ [NC]
  RewriteRule ^(.*)$ https://naprawaprzemysl.pl/$1 [R=301,L]

  RewriteRule ^o-nas$ /o-mnie [R=301,L]
  RewriteRule ^uslugi(/.*)?$ / [R=301,L]

  ErrorDocument 404 /404.html
</IfModule>