<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /serwis/

  <FilesMatch "\.(jpg|jpeg|png|gif|svg|css|js|woff|woff2)$">
    Header set Cache-Control "max-age=2592000, public"
  </FilesMatch>

  <ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/xml text/css text/plain
    AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript application/json
  </ifModule>

  RewriteCond %{HTTPS} off [OR]
  RewriteCond %{HTTP_HOST} ^www\.naprawaprzemysl\.pl$ [NC]
  RewriteRule ^(.*)$ https://naprawaprzemysl.pl/$1 [R=301,L]

  RewriteRule ^o-nas$ /o-mnie [R=301,L]
  RewriteRule ^uslugi(/.*)?$ / [R=301,L]

  ErrorDocument 404 /404.html

  Header always set X-Content-Type-Options "nosniff"
  Header always set X-XSS-Protection "1; mode=block"
  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
  Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'
  https://res.cloudinary.com https://cookiebot.com; style-src 'self' 'unsafe-inline'; img-src 'self' data:
  https://res.cloudinary.com; connect-src 'self' https://cookiebot.com https://res.cloudinary.com;"

  Header always set Access-Control-Allow-Origin "https://res.cloudinary.com"
  Header always set Access-Control-Allow-Origin "https://cookiebot.com"
</IfModule>